:root {
  /* Colori di base */
  --white: #fff;
  --dawn-light: #52525E;
  --dawn-dark: #2B323C;
  --dawn-darker: #0c0c0c;  

  /* Palette di colori */
  --color-green-light: #7fff00;
  --color-green-medium: #5b823c;
  --color-green-dark: #3d601e;
  --color-accent: #D79B67;
  --color-accent-light: #e2b68f;

  /* Tipografia */
  --font-base: 1rem;
  --font-xs: 0.9rem;
  --font-md: 1.2rem;
  --font-lg: 2.4rem;
  --font-xl: 3rem;
  --font-xxl: 3.5rem;
  --font-xxxl: 4.2rem;
  --font-xxxxl: 5.2rem;

  /* Layout */
  --header-height: 50px;
  --footer-height: 50px;
  --nav-padding: 0.7em;
  --border-width: 1px;
  --border-color: var(--dawn-light);
  --text-color: var(--white);
  
  /* Animazione */
  --stripe-height: 7px;
}


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: var(--header-height);
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: var(--font-base);
  font-weight: 300;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--dawn-dark);
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: var(--border-width);
  text-underline-offset: 2px;
}

main {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
